# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
	. ~/.bashrc
fi

# User specific environment and startup programs

PATH=$PATH:$HOME/bin

export HADOOP_INSTALL=<HADOOP_INSTALL>
export HADOOP_CONF_DIR=${HADOOP_INSTALL}/etc/hadoop
export SPARK_HOME=<SPARK_INSTALL>
export PATH=$PATH:${SPARK_HOME}/bin:${HADOOP_INSTALL}/bin

unset SSH_ASKPASS

